.history
.vscode
.idea
node_modules
.DS_Store
output
spec.json
spec.dsl
/dist
/output

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
checkProductsLog.txt

# Editor directories and files
.idea
*.iml
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
bin
.project
.history
.DS_Store
