<!--% if (feature.UM_R_ByAdmin) { %-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>'<!--%= data.basicData.name %-->' user account details</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <p>
            Welcome to '<!--%= data.basicData.name %-->'
        </p>
        <p>
            The user {0} has been created in the platform, follow the following link to set a password.
        </p>
        <p>
            <a th:href="@{|${baseUrl}/account/set/finish?key=${user.resetKey}|}"
            >Set password</a>
        </p>
        <p>
            <span>Regards, </span>
        </p>

        <div th:include="baseTemplate :: footer"/>
    </body>
</html>
<!--% } %-->