<!--% if(!feature.UM_AA_ByEmail && feature.UM_AA_ByAdmin) { %-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>New registration application</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <p>
            An user is requesting for an account activation.
        </p>
        <p>
            Click on the following link to view user data.
        </p>
        <p>
            Click on the following link to view user data.
        </p>
        <p>
            <a th:href="@{|${baseUrl}/user-management/user/${user.login}|}">View user details</a>
        </p>
        <p>
            <span>Regards</span>
        </p>

        <div th:include="baseTemplate :: footer"/>
    </body>
</html>
<!--% } %-->