<!--% if (feature.UM_AA_ByEmail) { %-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Account activation</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <p>
            Hello
        </p>
        <p>
            Your account has been created, please click on the URL below to activate it:
        </p>
        <p>
            <a th:href="@{|${baseUrl}/account/activate?key=${user.activationKey}|}"
               >Activation Link</a>
        </p>
        <p>
            <span>Regards, </span>
        </p>

        <div th:include="baseTemplate :: footer"/>
    </body>
</html>
<!--% } %-->